
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- <ion-buttons slot="end">
      <ion-button (click)="navToLogin()" >
        Entrer
      </ion-button>
    </ion-buttons> -->
    <!-- <ion-item slot="end"> -->
      <ion-buttons slot="end">

        <ion-button class="btn-enter" shape="round" expand="block" (click)="navToLogin()">
          <!-- <ion-icon slot="start" name="person-circle"></ion-icon> -->
          <!-- Entrer -->

          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>
<!-- <div class="menu-header-bg"></div> -->

<ion-content  class="ion-padding" >
  <swiper-container
    [pagination]="true">
    <swiper-slide   >
      <div class="header">
        <!-- <img src="../../assets/images/log.PNG" alt="logo" srcset=""> -->
        <img src="../../assets/images/Monade_LOGO_RVB.png" alt="logo" srcset="">
          <h1 >Documentations 1</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
            atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
            enim maxime omnis itaque eligendi nesciunt.
          </p>
      </div>
    </swiper-slide>

    <swiper-slide   >
      <div class="header">
        <img src="../../assets/images/Monade_LOGO_RVB.png" alt="logo" srcset="">
        <h1>Instruction 2</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
          atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
          enim maxime omnis itaque eligendi nesciunt.
        </p>
      </div>
    </swiper-slide>

    <swiper-slide   >
      <div class="header">
        <img src="../../assets/images/Monade_LOGO_RVB.png" alt="logo" srcset="">
        <h1>Instructions 3</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
          atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
          enim maxime omnis itaque eligendi nesciunt.
        </p>
      </div>
    </swiper-slide>

    <swiper-slide   >
      <div class="header">
        <img src="../../assets/images/Monade_LOGO_RVB.png" alt="logo" srcset="">
        <h1>Instruction 4</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
          atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
          enim maxime omnis itaque eligendi nesciunt.
        </p>
      </div>
    </swiper-slide>
  </swiper-container>

</ion-content>
<div class="menu-footer-bg"></div>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="secondary"> -->
      <!-- <ion-item slot="end">

        <ion-button class="btn-enter" shape="round" expand="block" (click)="navToLogin()"> -->
          <!-- <ion-icon slot="start" name="person-circle"></ion-icon> -->
          <!-- Entrer -->

          <!-- <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item> -->
    <!-- </ion-buttons> -->
 </ion-toolbar>
</ion-footer>
