
<div class="menu-header-bg"></div>
<ion-header translucent='true' class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Vos photos</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen={true}>
  <ion-list-header>
    <ion-label>
      Default
    </ion-label>
  </ion-list-header>
  <ion-thumbnail class="ion-margin-start">
    <img src="../../assets/images/avatar-modifier.png" />
  </ion-thumbnail>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Item Thumbnails
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/avatar-modifier.png" />
      </ion-thumbnail>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/avatar-modifier.png" />
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/avatar-modifier.png" />
      </ion-thumbnail>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/avatar-modifier.png" />
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
