<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-chip class="add" (click)="cancel()" slot="start">
     x Annuler
    </ion-chip>
    <ion-title>Welcome</ion-title>
    <ion-chip slot="end" (click)="confirm()" class="add">
      Save <ion-icon name="checkmark-outline"> </ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <ion-thumbnail> -->
    <!-- <img [src]="takeimage" *ngIf="takeimage"> -->
    <ion-img [src]="takeimage" *ngIf="takeimage" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <!-- </ion-thumbnail> -->
</ion-content>
