<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/onboarding" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mes doubles photos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end"> -->
      <!-- <ion-button class="btn-enter" shape="round" expand="block"  (click)="openModal()"> -->
        <!-- <ion-icon name="add-outline"></ion-icon> -->
        <!-- <ion-chip slot="end" (click)="openModal()"  class="add"> -->
         <!-- + -->
         <!-- Ajouter -->
        <!-- </ion-chip> -->
      <!-- </ion-button> -->
    <!-- </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <input type="file" (change)="onFileChange($event)">
  <button (click)="uploadFile()">Envoyer</button>
</ion-content> -->
<!-- <ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Choix d'envoie</ion-label>
      <ion-select >
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Ajourd'hui
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of items; let index">
      <ion-avatar slot="start">
        <img src="../../../assets/images/profil.png" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item.name }}</ion-label>

      <ion-chip *ngIf="item.send">
        <!-- <ion-icon name="add" color="primary"></ion-icon> -->
        <ion-label >Enoyé</ion-label>
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-chip>
      <!-- <ion-chip > -->
        <!-- <ion-icon name="add" color="primary"></ion-icon> -->
        <!-- <ion-label > -->
          <!-- supprimer -->
        <!-- </ion-label> -->
        <!-- <ion-icon name="close-outline"></ion-icon> -->
      <!-- </ion-chip> -->


      <!-- <ion-chip *ngIf="!item.send">
        <ion-label >Non Enoyé</ion-label>
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-chip> -->

    </ion-item>

  </ion-list>
</ion-content>
<!-- <ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="images-outline"></ion-icon>
          Doubles photos
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="image-outline"></ion-icon>
          Mes photos
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer> -->
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>

      <ion-fab vertical="bottom" horizontal="center" translucent="true">
        <!-- <ion-fab-button (click)="goToPictures()"> -->
          <ion-fab-button>
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-tab-bar slot="bottom" class="ion-no-border">
        <ion-tab-button tab="tab-encounters">
          <!-- <ion-icon name="compass"></ion-icon> -->
          <ion-icon name="images-sharp"></ion-icon>
          <ion-badge >35</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="tab-conversations" class="comments">
          <ion-icon name="person"></ion-icon>
          <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
          <ion-badge >5</ion-badge>
        </ion-tab-button>

        <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

        <ion-tab-button tab="tab-notifications" class="notifs">
          <ion-icon name="notifications"></ion-icon>
          <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
          <ion-badge >sdfsd</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="tab-profile">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer>
