/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


ion-toolbar{
  // --background: #ffffff;
  --background: transparent ;
  border-radius: 0%;

  ion-button {
      text-transform:initial ;
      font-size: 17px;
      // color: #ffffff;
      color: #12746b ;
  }

  ion-title {
    color: #12746b ;
    text-transform:initial ;
    font-size: 17px;
  }
}

// .content-bg {
//   padding: 0px  20px 0px 20px;
//   background-color:#33716a;

//   // h1{
//   //   color: var(--ion-color-cian);
//   // }

//   p {
//     color: #ffffff;
//   }
// }

// .menu-footer-bg  {
//   height: 100px;
//   width: 150%;
//   background: #33716a;
//   transform: rotate(-8deg);
//   /* margin-left: -18px; */
//   /* margin-top: -30px; */
//   /* margin-bottom: -44px; */
//   z-index: 1;
//   position: absolute;
//   bottom: -27px;
//   box-shadow: -3px -4px 8px 6px rgb(145 146 146 / 37%)
// }

// ion-content {
//   position: relative;
//   z-index: 12;
//   background-color: transparent;
// }

// .menu-header-bg {
//   height: 30%;
//   width: 150%;
//   background: #a4d2d9;
//   // background: linear-gradient(90deg,#a4d2d9 0%, #aedee2 100% );
//   // box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
//   transform: rotate(-8deg);
//   // border-radius: 10px 10px 10% 40%;
//   top: -20%;
//   margin-left: -18px;
//   // margin-top: -35px;
//   margin-bottom : 60px;
//   z-index: 1;
//   position: absolute;
//   box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08) ;
// }

// .row-footer-bg {
//   height: 30%;
//   width: 150%;
//   background: #33716a;
//   transform: rotate(-8deg);
//   margin-left: -18px;
//   // z-index: 1;
//   position: absolute;
//   bottom: -20%;
//   box-shadow: -3px -4px 8px 6px rgb(145 146 146 / 37%)
// }

// .row-top-bg {
//   width: 110%;
//   background: #a4d2d9;
//   position: absolute;
//   top: 0;
//   height: 113px;
//   left: -10px;
//   top: -44px;
//   transform: rotate(-8deg);
//   box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
// }

.swiper-pagination-bullet {
  width: 14px !important;
}

ion-content {
  // position: relative;
  // z-index: 1;
  // background: rgb(2,0,36);
  // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,113,96,1) 35%, rgba(0,212,255,1) 100%);
  // background: rgb(2,0,36);
  // background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,113,96,1) 35%, rgba(0,212,255,1) 100%);
  // background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,113,96,1) 35%, rgba(0,212,255,1) 100%);
  // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,113,96,1) 35%, rgba(0,212,255,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  background-color:  linear-gradient(266deg, rgba(63,96,99,1) 0%, rgba(255,255,255,1) 65%);
  // --ion-background-color:  linear-gradient(266deg, rgba(63,96,99,1) 0%, rgba(255,255,255,1) 65%);


}
// :root {
//   // --ion-background-color: linear-gradient(90deg, #c1cddb 0%, #00d4ff 100%);
//   // --ion-background-color:  linear-gradient(266deg, rgba(63,96,99,1) 0%, rgba(255,255,255,1) 65%);
// }
// swiper-container::part(bullet-active) {
//   background-color: red;
// }
.swiper-pagination-bullet-active {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
  width: 17px !important;
  height: 17px;
}