<!-- <ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> Ionic Swiper </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding" >



  <swiper-container
    [loop]="true"
    [pagination]="true">
    <swiper-slide   >
      <img src="../../assets/images/log.PNG" alt="logo" srcset="">
      <h1>Documentations 1</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
        atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
        enim maxime omnis itaque eligendi nesciunt.
      </p>
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/images/log.PNG" alt="logo" srcset="">
      <h1>Documentations 2</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
        atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
        enim maxime omnis itaque eligendi nesciunt.
      </p>
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/images/log.PNG" alt="logo" srcset="">
      <h1>Documentations 3</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, dolor voluptas? Quo impedit
        atque totam ad accusamus eum quas laudantium neque aliquid ipsum, quisquam
        enim maxime omnis itaque eligendi nesciunt.
      </p>
      <!-- <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button >
            <ion-icon slot="start" name="person-circle"></ion-icon>
            Login
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button fill="solid">
            Help
            <ion-icon slot="end" name="help-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar> -->
    </swiper-slide>
  </swiper-container>

</ion-content>

<ion-footer color="tertiary">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button >
        <ion-icon slot="start" name="person-circle"></ion-icon>
        Enter
      </ion-button>
    </ion-buttons>
 </ion-toolbar>
</ion-footer>
