



swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-toolbar {
  // --background: #33716a;
  // --background: #a4d2d9;
}

ion-content {
  .flex {
    display: grid;
    align-items: center;
    height: 60%;
    margin: atu;
    margin-top: 22%;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }
}


