<!-- <div class="menu-header-bg"></div> -->
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title color="primary">
            Home
        </ion-title>
      <ion-buttons slot="start">
        <ion-button routerLink="/onboarding" color="primary">
          <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button menu="main-menu"> </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-list-header >
    <ion-label>
      <ion-text color="primary" class="ion-text-start">
        <h1> Monade photos</h1>
      </ion-text>
    </ion-label>

  </ion-list-header> -->
  <ion-card (click)="navToDoublePhoto()">
    <ion-card-header >
      <ion-card-title>Doubles photos</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-card-footer>
      <ion-chip>
        <!-- <ion-icon name="add" color="primary"></ion-icon> -->
        <!-- <ion-label >Enoyé</ion-label> -->35 envoyé
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-chip>
      <ion-chip>
        5 en attente
      </ion-chip>
    </ion-card-footer>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mes photos</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-card-footer>
      <ion-chip>
        <!-- <ion-icon name="add" color="primary"></ion-icon> -->
        <!-- <ion-label >Enoyé</ion-label> -->12 envoyé
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-chip>
      <ion-chip>
        0 en attente
      </ion-chip>
    </ion-card-footer>
  </ion-card>

</ion-content>

<ion-footer  class="ion-no-border">
  <!-- <ion-toolbar> -->
    <app-take-picture [ispict]="false" (getUrl)='getUrl($event)' (showAddPage)="showModalAdd($event)"></app-take-picture> 
<!-- </ion-toolbar> -->
</ion-footer>