<div class="menu-header-bg"></div>
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title color="primary">
            Home
        </ion-title>
      <!-- <ion-buttons slot="start">
        <ion-button routerLink="/onboarding" color="primary">
          <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
        </ion-button>
      </ion-buttons> -->

      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"> </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true">
    <ion-grid>
      <!-- <ion-row class="row-top-bg">
        <ion-col>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <div>
            <br>
            <br>
          <ion-card class="apps-card">
            <ion-card-header>
              <ion-card-subtitle>Photos</ion-card-subtitle>
              <ion-card-title> sit amet consectetur adipisicing.</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click)="navToDoublePhoto()">
                <!-- <ion-thumbnail slot="start">
                  <img src="../../assets/images/s.png"/>
                </ion-thumbnail> -->
                <ion-label>
                  <h3>Double photos</h3>
                  <p>Lorem ipsum dolor,</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <!-- <ion-thumbnail slot="start">
                  <img src="../../assets/images/profil.png"/>
                </ion-thumbnail> -->
                <ion-label>
                  <h3>Photo de vous même</h3>
                  <p>Lorem ipsum dolor,</p>
                </ion-label>
              </ion-item>
              <!-- <ion-item>
                <ion-thumbnail slot="start">
                  <img src="../../assets/images/profil.png"/>
                </ion-thumbnail>
                <ion-label>
                  <h3>Shipt</h3>
                  <p>Bring the store to your door</p>
                </ion-label>
              </ion-item> -->
              <!-- <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img src="/assets/logo-amtrak.png"/>
                </ion-thumbnail>
                <ion-label>
                  <h3>Amtrak</h3>
                  <p>Book a trip today</p>
                </ion-label>
              </ion-item> -->
            </ion-list>
          </ion-card-content>
        </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="row-footer-bg">
        <ion-col>
        </ion-col>
      </ion-row> -->
    </ion-grid>

  </ion-content>
  <div class="menu-footer-bg"></div>
