
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="images-outline"></ion-icon>
      Doubles photos
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="image-outline"></ion-icon>
      Mes photos
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="log-out-outline"></ion-icon>
      Logout
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
